
<!-- Footer -->
<footer class="text-center mt-2 p-0 fixed" style="background-color: #ffffff;  border-top: 1px solid rgba(0, 0, 0, 0.425);">
  <!-- Grid container -->
  <div class="container p-2">

    <!-- Section: Social media -->
    <section class="mb-2 text-start fs-6">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>


      <a class="text-dark font-weight-bold float-end" href="#top-point">Haut de page <i class="fa-sharp fa-solid fa-arrow-up-from-bracket"></i></a>

    </section>
    <!-- Section: Social media -->

    

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-2 bg-dark text-white font-weight-bolder" style="f">
    © 2021 Copyright:
    <a class="text-white" href="#"><b>HF DEV </b>  www.incoming.com </a>
  </div>
  <!-- Copyright -->
 
</footer>
<!-- Footer -->

<style>
  .bg-dark{
    background-color: black !important;
}
</style>