
{% for type, messages in app.flashes %} 

    <div class="alert alert-{{ type }} alert-dismissible fade show col-md-5 mx-auto my-3 text-center" role="alert">
        <button type="button" class="btn-close btn btn-sm btn-{{ type }}" data-bs-dismiss="alert" aria-label="Close">
             <span class="" aria-hidden="true"></span>
        </button>
        {% for message in messages %}
        <strong>{{message}}</strong>
        {% endfor %} 
    </div>

{% endfor %}