{% extends 'base.html.twig' %}

{% block title %}EZ-CBD - Demande de réinitialisation mot de passe{% endblock %}

{% block body %}

<div class="container mx-auto col-md-7 p-2 my-3">
    <div class="card rounded shadow-lg">
        <h1 class="h2 my-3 font-weight-normal text-center">Oops, il semblerait qu'il y est une erreur</h1>
        <p class="text-center my-2">Désolé, cette page est introuvable...</p>
        <a href="{{ path('app_main') }}" class="btn btn-primary">Revenir à l'accueil</a>
    </div>
    
    
</div>
{% endblock %}

